.menu{
    width: 20vw;
    height: 100vh;
    background-color: #0e3658;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif; */
.profile-image{
    border: .5rem solid #d4e8ff;
    border-radius:50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}
.profile-image:hover{
    cursor: pointer;
}
.profile-image-big{
    width:100%;
}
.item{
    color:white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    margin-bottom: .7rem;
}
.item:hover{
    color:#d4e8ff;
    text-decoration: none;
}
.menu-items{
    display: flex;
    flex-direction: column !important;
    align-items: center;
}
.image-container{
    display:block
}
.button-menu{
    background-color: transparent;
    border-color: transparent;
}
.active{
    border-color: #d4e8ff;
    border-width: 4px;
    border-radius: .25rem;
}
@media (max-width:992px){
    .image-container{
        display: none;
    }
    .menu{
        width: 100vw;
        height: auto;
        display:block;
    }
}